* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	background-color: #114229;
	color: #114229;
}

body h1 {
	margin: 30px 0;
}

.textarea {
	width: 1000px;
	height: 50px;
	font-size: 24px;
	border: 3px solid #add6ff;
}

.status_form {
	text-align: center;
	font-size: 28px;
}

#submit {
	font-size: 20px;
	padding: 5px 15px;
	background-color: #c9bfbf;
	font-weight: bold;
}

.status_post {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
}

.your_status {
	font-size: 26px;
	margin-bottom: 15px;
	font-weight: bold;
}

.post {
	display: flex;
	flex-flow: column wrap;
	font-size: 24px;
	margin: 10px 0;
}

@media only screen and (max-width: 500px) {
	.textarea {
		width: 500px;
	}
}

@media only screen and (max-width: 350px) {
	.textarea {
		width: 300px;
	}
}