* {
	margin: 0;
	padding: 0;
	/*font-family: 'Architects Daughter', cursive;
	font-family: 'Righteous', cursive;*/
}

.bodyB {
background-color: black;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.bodyC {
background-color: black;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

img{
  height: auto;
}

nav {
	height: 70px;
	background-color: black;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	position: relative;
}


nav ul {
	float: right;
}

nav ul li {
	display: inline-block;
	margin: 20px 10px;

}

nav ul li a {
	text-decoration: none;
	font-size: 25px;
	font-family: 'Righteous', cursive;
	color: #FFC9FA;
	display: inline-block;
	width: 150px;
	text-align: center;
}

nav ul li a:hover {
	transition: 500ms;
	background-color: #BD9ABA;
}

nav .clear {
	clear: both;
}

article {
	text-align: center;
	margin: 100px auto 169px;
	font-size: 30px;
}

article h1 {
	margin-bottom: 50px;
	font-family: 'Righteous', cursive;
	color: #634309;
	text-shadow: 3px 3px 3px gray;
}

article ul li a {
	text-decoration: none;
	font-size: 25px;
	font-family: 'Righteous', cursive;
	color: #525252;
	display: inline-block;
	width: 150px;
	text-align: center;
	line-height: 50px;
}

footer {
	background-color: black;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
	position: relative;
	bottom: -5px;
	left: 0;
	right: 0;
	color: #F9EFF7;
}

.image{
	width: 100%;
}
.image2 {
  float: left;
}
.clearfix {
  overflow: auto;
}

h2{
	position: absolute;
	text-align: left;
	margin-left: 200px;
	top: 200px;
	width: 100%

}
h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
.topnav {
  font-family: 'Righteous', cursive;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #BD9ABA;
  color: black;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.box {
  float: left;
  width: 50%;
  padding: 50px;
  height: 600px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.btn-default {
    top: 25%;
    left:25%; 
    color: #999; 
    background: #fffccc; 
} 