{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="bodyC" style="background-image: url('{% static 'img/g.png' %}');">
	

	<article>
	<div class="clearfix">
	  <div class="box" style="background-color:none">
	  </div>
	  <div class="box" style="background-color:none">
	  <h1 style="font-size:5vw; color: white">ABOUT</h1>
	  <p style="font-size:1vw; color: white">Hello! I’m Mauludi, from Faculty of Computer Science, Universitas Indonesia.

	I love books! I always try to make a good book last but I’m a buggar for ‘just one more chapter’ before I know it it’s done. I’m also passionately on learning PHP programming, as well as Linux-based System.</p>
	  </div>
	</article>

</div>

{% endblock %}