{% extends 'base.html' %}
{% load static %}

{% block content %}

<body bgcolor="black">
	
<article>
	<div class="clearfix">
	  <h1 style="font-size:5vw; color: white">CONTACT</h1>
	  <p style="font-size:2vw; color: white">stay in touch with me!</p><br>
	  <p>
			<a href="mailto:ladymauludi@gmail.com"><img src="{% static 'img/mail.png' %}" alt="gmail" width="100" height="100"></a>

			<a href="https://id.linkedin.com/in/mauludi-afina-mirza-299826129"><img src="{% static 'img/in.png' %}" alt="linkedin" width="100" height="100"></a>
	  </p>
	  </div>
</article>

{% endblock %}