{% extends 'base.html' %}
{% load static %}

{% block content %}

<body bgcolor="black">
	<div class="container text-center">

<h1> Click Me </h1>
<!-- Large modal -->
<button class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">click to view gallery</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
     <img class="img-responsive" src="{% static 'img/3.jpg' %}" alt="lake">
      <div class="carousel-caption">
        Lake
      </div>
    </div>
    <div class="item">
      <img class="img-responsive" src="{% static 'img/2.jpg' %}" alt="mountain">
      <div class="carousel-caption">
        Mountain
      </div>
    </div>
     <div class="item">
      <img class="img-responsive" src="{% static 'img/3.jpg' %}" alt="hill">
      <div class="carousel-caption">
        Hill
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
    </div>
  </div>
</div>
</div>

{% endblock %}