{% load static %}

{% block content %}

<div class="topnav" id="myTopnav">
	  <a href="{% url 'story4:contact' %}">CONTACT</a>
	  <a href="{% url 'story4:gallery' %}">GALLERY</a>
	  <a href="{% url 'story4:about' %}">ABOUT</a>
	  <a href="{% url 'story4:home' %}" class="active">HOME</a>
	  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
	    <i class="fa fa-bars"></i>
	  </a>
	</div>
	<script>
	function myFunction() {
	  var x = document.getElementById("myTopnav");
	  if (x.className === "topnav") {
	    x.className += " responsive";
	  } else {
	    x.className = "topnav";
	  }
	}
	</script>

{% endblock %}